/*
Author: John Swanson
File Name: styles.css
Date: November 3rd, 2025
 */

.btn {
    background: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-align: center;
}

p,
div,
h1,
h2 {
    text-align: center;
    color: white;
}

footer {
    top: 200px;
}

#indexbody {
    background-image: url("sunset.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#menubody {
    background-color: green;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 320px) {

    .btn {
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 15px;
    }

    a {
        font-size: 30px;
    }

    iframe {
        height: 200px;
        width: 200px;
    }

}

@media (min-width: 800px) {
    #image {
        height: 600px;
        width: auto;
    }

    .btn {
        height: 300px;
        width: auto;
    }

    a {
        font-size: 100px;
    }

    p,
    div,
    h1,
    h2 {
        font-size: 50px;
    }

    #menu {
        font-size: 30px;
    }

    iframe {
        height: 600px;
        width: 700px;
    }
}
